@import '../../theme/variable.less';

.container-form-modal {
  width: 100%;

  .ant-form-item-control-input,
  .ant-input,
  .ant-input-affix-wrapper,
  textarea.ant-input {
    width: 100%;
  }
}

.btn-send-art:disabled {
  background-color: @colorDepth;
  color: @colorSerenity;
}