@colorEverGreen: #2a5039;
@colorAnchor: #101a24;
@colorDepth: #264559;
@colorHorizon: #3c617e;
@colorSerenity: #bbd7db;
@pageGutter: 200px;
@fontFamily: "Open Sans", sans-serif;
@xs: 576px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1600px;