* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--color-depth);
  font-family: "Open Sans", sans-serif;
}

:root {
  --page-gutter: 200px;
  --color-depth: #264559;
  --color-anchor: #101a24;
  --color-depth: #264559
}

.page-inner {
  margin-inline: var(--page-gutter);
}

.site-header,
.site-footer {
  width: 100%;
}

.site-header {
  background-color: var(--color-depth);
}

.site-footer {
  background-color: var(--color-anchor);
}

.site-footer__inner {
  min-height: 80px;
  display: flex;
  align-items: center;
  color: #bbd7db;
}

@media (max-width: 1290px) {
  :root {
    --page-gutter: 100px;
  }
}

@media (max-width: 1100px) {
  :root {
    --page-gutter: 24px;
  }
}