@import '../../theme/variable.less';

.container-store {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: @colorSerenity;

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 50px;
  }

  &__title {
    margin: 0;
  }
}